@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Motochorro</h1>
    <h2 class="display-4">Teléfono: 3815140651</h2>
</div>
<article>
    <section class=" w-25">
        <h3>Cadete</h3>
        <ul class="list-group">
            <li class="list-group-item list-group-item-action"><a class="p" asp-controller="Cadete" asp-action="CrearCadete">Crear cadete</a></li>
            <li class="list-group-item list-group-item-action"><a class="p" asp-controller="Cadete" asp-action="ListaDeCadetes">Lista de cadetes</a></li>
        </ul>
    </section>
</article>
